* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#backPocketLogo {
    width: 100%;
    height: auto;
}

#backPocketLogoParent {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    margin-left: 5rem;
}


input[id^="seek"] {
    width: 65%;
}

div[class^="audioControls"] {
    display: flex;
    justify-content: center;
}
div[class^="timeControl"] {
    display: flex;
    justify-content: space-around;
}

button[id^="start"] {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: lightblue;
    border: none;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

button[id^="play"] {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: lightblue;
    border: none;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 1rem;
    font-family:'Times New Roman', Times, serif;
}

button[id^="start"]:hover {
    color: white;
}

button[id^="play"]:hover {
    color: white;
}

button[id^="skip"] {
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: white;
    padding: 0rem;
    margin: 1rem;
}

button[id^="rewind"] {
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: white;
    padding: 0rem;
    margin: 1rem;
}

p {
    margin: 1rem;
}

h1 {
    margin: 1rem;
}

form {
    margin: 1rem;
}


